<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-model 实例</title>
  <script src="../assets/js/vue.js"></script>
</head>
<body>
  <h1>v-model 实例</h1>
  <hr>
  <div id="app">
    <p>原始文本信息：{{message}}</p>
    <h3>文本框</h3>
    <!-- v-model.lazy 当鼠标离开文本框的时候在显示添加的部分
         v-model.number 当先输入数字 再在文本框里面 输入其他文本没有作用
    -->
    <p>v-model: <input type="text" v-model="message"></p>
    <p>v-model.lazy: <input type="text" v-model.lazy="message"></p>
    <p>v-model.number: <input type="text" v-model.number="message"></p>
    <p>v-model.trim: <input type="text" v-model.trim="message"></p>
    <hr>
    <h3>文本域</h3>
    <textarea  cols="30" rows="10" v-model="message"></textarea>
    <hr>
    <h3>多选框绑定一个值</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{isTrue}}</label>
    <hr>
    <h3>多选框绑定数组</h3>
    <p>
    <input type="checkbox" id="smdq" value="smdq" v-model="web_names">
    <label for="smdq">smdq</label>
    <input type="checkbox" id="nsd" value="nsd" v-model="web_names">
    <label for="nsd">nsd</label>
    <input type="checkbox" id="dong" value="dong" v-model="web_names">
    <label for="dong">dong</label><br/>
    {{web_names}}
    </p>
    <hr>
    <h3>单选框绑定</h3>
    <p>
      <input type="radio" id="one" value="男" v-model="sex">
      <label for="one">男</label>
      <input type="radio" id="two" value="女" v-model="sex">
      <label for="two">女</label>
    </p>
    <p>你选择的性别是：{{sex}}</p>
  </div>
  <script>
     var app = new Vue({
       el:'#app',
       data:{
         message:'hello vue',
         isTrue:true,
         web_names:[],
         sex:'男'
       }
     })
  </script>
</body>
</html>